/*-------------------------------------------*\
    Global
\*-------------------------------------------*/

@media (not(hover)) {
    button:not(:disabled):hover {
        box-shadow: var(--border-sunken-outer), var(--border-sunken-inner);
    }
}
pre {
    box-shadow: var(--border-field);
}
